.settings-page {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.settings-page__paragraph {
  font-size: 16px;
  color: #919191;
  margin-bottom: 5px;
}

.settings-page__info {
  font-size: 20px;
  font-weight: 600;
}

.settings-page__delete-card {
  display: flex;
  grid-column: 1/3;
  height: 130px;
  align-items: center;
  justify-content: space-between;
}

.settings-page__delete-card button {
  cursor: pointer;
}

.settings-page__modal-wrapper {
  display: flex;
  flex-direction: column;
  background: rgba(6, 0, 16, 0.5) !important;
  backdrop-filter: blur(10px);
}

.settings-page__modal-wrapper__btns {
  margin-top: 20px;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.settings-page__modal-wrapper__btns button {
  cursor: pointer;
}

.settings-page__btn {
  cursor: pointer !important;
}

.settings-page__bottom-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
