.scroll-list-container {
  position: relative;
  position: fixed;
  inset: 50px 0 70px 0;
}

.scroll-list {
  max-height: 100%;
  overflow-y: auto;
  padding: 16px;
}

.scroll-list::-webkit-scrollbar {
  width: 8px;
}

.scroll-list::-webkit-scrollbar-track {
  background: #060010;
}

.scroll-list::-webkit-scrollbar-thumb {
  background: #271e37;
  border-radius: 4px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.item {
  padding: 16px;
  background-color: #170d27;
  border-radius: 8px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.item-text {
  color: white;
  margin: 0;
}

.top-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: linear-gradient(to bottom, #060010, transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: linear-gradient(to top, #060010, transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.scroll-list-checkbox {
  cursor: pointer !important;
  width: min-content;
}

.scroll-list-badge {
  margin-left: auto;
}

.scroll-list-text {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: -45px;
}

.item.completed {
  opacity: 0.9;
  filter: brightness(0.7);
}

.scroll-list-delete-btn {
  cursor: pointer !important;
  background: none !important;
  transition: all 0.3s !important;
  margin-left: 10px !important;
}

.scroll-list-delete-btn:hover {
  background: rgba(255, 0, 0, 0.1) !important;
}

.scroll-list-container-date {
  font-size: 20px;
  opacity: 0.8;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 5px;
}

.item.actual {
  box-shadow: 0 0 5px 2px rgba(187, 165, 255, 0.7);
}
