.analytics-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.analytics-page__swiper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.analytics-page__cards {
  display: flex;
  width: 100%;
  gap: 10px;
  height: 210px;
}

.analytics-page__card {
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.analytics-page__carousel-card {
  width: 100%;
  padding: 0;
}

.analytics-page__message {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
